<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 h">
            <div class="image overlay">
              <h3 style="text-align:center;margin-top:250px">  WELCOME TO APPINESS</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="b-padding">
                <div class="text-center">
                    <h2 class="app-name fg-color">Github Users</h2>
                </div>
                <form [formGroup]="loginform" class="login-form" (ngSubmit)="onLogin()"
                    class="my-login-validation m-t-20" action="../dashboard">
                    <div class="m-t-20">
                        <div class="form-group">
                            <input type="text" placeholder="Username" formControlName="username"
                                class="form-control input-radius" (keyup)="trimValue($event)"
                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="position:relative">
                                <input type="{{type}}" placeholder="Password" formControlName="password"
                                    class="form-control input-radius" class="form-control input-radius"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                    style="padding-right: 60px;">
                                <div class="show-btn btn-sm" (click)="toggleShow()"
                                    style="position:absolute; right:5px; top:19px; transform:translate(0,-50%); padding: 0px 2px; font-size:0px; cursor:pointer;">
                                    <mat-icon>visibility</mat-icon>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6">
                                <input type="checkbox" color="primary"> Remember Me
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary btn-block input-radius">
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="header text-center">
                        <small>Don't have an account? </small><a [routerLink]="['/signup']"> Create New</a>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>
<!--  -->