
.form-radio {
    .mat-radio-label {
        cursor: pointer;
    }
   
}

.hover-forgot {
    color: #a0a0a0 !important;
    margin-top: 3px;
    font-size: 15px;
}

.hover-forgot:hover {
    border-bottom: 1px solid;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
        }
        .login-form {
            padding: 40px;
            background: #fff;
            width: 500px;
            box-shadow: 0 0 10px #ddd;
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px white inset;
            }
        }
    }

    &:after {
        content: '';
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 50%;
        right: 0;
    }
    &:before {
        content: '';
        background: #ffffff;
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}
.image {
   background-repeat: no-repeat;
   background-size:cover;
   height: 100%;
   margin-right: -15px;
   margin-left: -15px;
 }

 .b-padding {
    margin: 3rem;
}
.s{
    .b-padding {      
            margin: 25px 4rem;
    }
}

h2 {
    font-size: 25px;
}
.card .header h2::before {
    height: 30px;
}

.brand img {
    max-width: 13rem;
}

.brand {
    position: relative;
    display: block;
    margin: 20px 0; 
}

.h {
    height: calc(100vh + 70px);
}

 @media only screen and (max-width: 700px) { 
    .image {
        display: none;
    }
    .b-padding {
        margin: 4rem 1rem;
           }
    .s{
        .b-padding {      
            margin: 4rem 1rem;
        }
    }
    .h {
       display: none;
    }
 }

 .image {
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    margin-right: -15px;
    margin-left: -15px;
  }

  .overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: #00b3a480;
    /* background-color: #01d8da */
  }
