html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fontil Sans';
}

@import '~bootstrap/dist/css/bootstrap.min.css';

.main-container {
    position: absolute;
    top: 64px;
    left: 250px;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.space {
    margin-top: 4rem;
}


table {
    width: 100%;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1 {background-color: #008CBA;} 
  .action-btn{
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    }
    .mat-purple-bg {
        background-color:#dc8f1e !important;
        color: white !important;
    }
