

<div>
  <button class="btn-primary"  [routerLink]="['../events']" style="float: right;">back</button>
</div>

<div style="color: black;
font-size: 20px;"> Repositories of {{this.username}}</div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. abc">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="slno">
    <th mat-header-cell *matHeaderCellDef> Sl.No</th>
    <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Default name </th>
    <td mat-cell *matCellDef="let element"> {{ element.default_branch}} </td>
  </ng-container>

   <!-- ID Column -->
   <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

   <!-- open issues Column -->
   <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> Open issues   </th>
    <td mat-cell *matCellDef="let element"> {{element.open_issues}} </td>
  </ng-container>

   <!-- Created at Column -->
   <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Created at   </th>
    <td mat-cell *matCellDef="let element"> {{element.created_at | date}} </td>
  </ng-container>
  
 <!-- Pushed at Column -->
 <ng-container matColumnDef="pushed_At">
  <th mat-header-cell *matHeaderCellDef> Pushed at   </th>
  <td mat-cell *matCellDef="let element"> {{element.pushed_at | date}} </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 10, 20]" showFirstLastButtons></mat-paginator>

