<div id="sidebar">
    <div class="user-info">
        <img class="profile-image" src="assets/images/events.jpg">
        <div class="detail">
            <h4>Github Users</h4>
            
        </div>
    </div>
  
    <mat-nav-list>
        

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/events']">
            <mat-icon class="sidenav-icon">table_chart</mat-icon>Users
        </a>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/']">
            <mat-icon class="sidenav-icon">input</mat-icon>Patients
        </a> -->
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/']">
            <mat-icon class="sidenav-icon">grid_on</mat-icon>Hospital
        </a> -->
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/']">
            <mat-icon class="sidenav-icon">code</mat-icon>User Management
        </a> -->
    
        <!-- <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('pages')">
                <mat-icon class="sidenav-icon">add</mat-icon> {{ 'Menu' | translate }}
            </a>
            <ul class="nested submenu" [class.expand]="showMenu === 'pages'">
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
            </ul>
        </div> -->
    </mat-nav-list>
</div>