:host {
    display: block;
    position: fixed;
    left: 250px;
    right: 0;
    top: 0;
    z-index: 1000;
}
.fix-nav {
    background: #ff4081;
    color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}
.nav-brand {
    // width: 215px;
    text-align: center;
}
.topnav-icon {
    text-decoration: none;
    display: flex;
    color: #fff;
}

.nav-spacer {
    flex: 1 1 auto;
}

.visible-md {
    display: none;
}
.visible-sm {
    display: none;
}
@media screen and (max-width: 992px) {
    :host {
        left: 0;
    }
    .visible-md {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .visible-sm {
        display: block;
    }
    .nav-brand {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}
